<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <title>Home Page</title>
        <body>{{> header}}
            <p><b>{{screamIt name}}</b><br>
            <p>Your Likes are:<br></p>
            {{likes}}
            </p>
                {{> footer}}

        </body>
</html>
